body {
    text-align: center;
}


.mouth-image {
    position: absolute;
    z-index: 0;
}

.highlighted {
    z-index: 1;
}

.images {
    width: 10%;
    height: 10vw;
    left:40%;
    transform: translate(35%, 0);
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.text-form {
    padding: 10px;
}

.output {
    padding: 10px;
    line-height: 1.5em;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    min-height: 30px;
    border: 2px solid black;;
}

.output .inline-syllable {
    display: inline-block;
}

.output .embold {
    font-size: x-large;
    font-weight: bold;
}

.container {
    position: relative;
    width: 60%;
    left: 20%;
}