body {
    text-align: center;
    background-color: #f1f1f1;
    font-family: monospace;
}

button {
    align-items: center;
    padding: 6px 14px;
    font-family: monospace;
    border-radius: 6px;
    color: #3D3D3D;
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
button:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

form input{
    width: 60%;
    height: 1.5em;
    font-family: monospace;
}

h1 {
    font-size: 48px; 
    font-weight: bold; 
    text-align: center; 
    color: #4f4f4f;
    border-radius: 10px;
    display: inline-block;
}


.mouth-image {
    position: absolute;
    z-index: 0;
}

.highlighted {
    z-index: 1;
}

.images {
    width: 10%;
    height: 10vw;
    left:40%;
    transform: translate(35%, 0);
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.text-form {
    padding: 10px;
}

.output {
    padding: 10px;
    line-height: 1.5em;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    min-height: 30px;
    border: 0.7px solid black;
    border-radius: 5px;
    overflow: auto;
}

.output .inline-syllable {
    display: inline-block;
}

.output .embold {
    font-size: x-large;
    font-weight: bold;
}

.container {
    position: relative;
    width: 60%;
    left: 20%;
}

.firefox {
    display: none;
}

@-moz-document url-prefix() {
    .container {
        display: none;
    }
    .firefox {
        display: block;
    }
}
