h1 {
    font-family: 'DM Mono', monospace;
    font-size: 1.5rem;
}

.site-header {
    border-bottom: unset;
}

body {
    max-width: unset;
    padding: unset;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

.about-mask-lite {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-mask-lite.open {
    opacity: 1;
}

.about {
    pointer-events: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}