h1 {
    font-family: 'DM Mono', monospace;
    font-size: 1.5rem;
}

.site-header {
    border-bottom: unset;
}

body {
    max-width: unset;
    padding: unset;
    scrollbar-width: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}