@for $i from 0 through 30 {
  :root {
    --orb-#{$i}-x: 0px;
    --orb-#{$i}-y: 0px;
  }
}

body {
    text-align: center;
    background-color: #f1f1f1;
    font-family: monospace;
}

button {
    align-items: center;
    padding: 6px 14px;
    font-family: monospace;
    border-radius: 6px;
    color: #3D3D3D;
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
  
button:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

form input{
    width: 60%;
    height: 1.5em;
    font-family: monospace;
}

h1 {
    font-size: 40px; 
    font-weight: bold; 
    text-align: center; 
    color: #4f4f4f;
    border-radius: 10px;
    display: inline-block;
}

@media only screen and (max-width: 450px) {
    h1 {
      margin: 5px 0;
    }
  }

.mouth-image {
    position: absolute;
    z-index: 0;
}

.highlighted {
    z-index: 1;
}

.face {
    width: 350px;
    max-width: 100%;
    margin: 10px auto 10px auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #d2d2d2;
    border-radius: 50px;
    padding: 30px 0;
}

.eyes {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.eye {
    width: 30px;
    height: 30px;
    background-color: yellow;
}

.nose {
    width: 30px;
    height: 30px;
    background: orange;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

.mouth {
    width: 90px;
    height: 50px;
    margin: 20px;
    left:50%;
    transform: translate(calc(-50% - 20px), 0);
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.text-form {
    padding: 10px;
}

.output {
    padding: 10px;
    line-height: 1.5em;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    min-height: 30px;
    border: 0.7px solid black;
    border-radius: 5px;
    overflow: auto;
}

.output .inline-syllable {
    display: inline-block;
}

.output .embold {
    font-size: x-large;
    font-weight: bold;
}

.container {
    position: relative;
    width: 60%;
    left: 20%;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        left: 5%;
        display: block;
    }
    form input {
        margin: 5px;
        width: 90%;
    }
  }


.firefox {
    display: none;
    padding: 5px;
}

@-moz-document url-prefix() {
    .voice-input {
        display: none;
    }
    .firefox {
        display: block;
    }
}

.orb {
    width: 20px;
    height: 20px;
    position: absolute;
    transition: top 0.3s ease, left 0.3s ease;
    background-image: url('./images/apple.png');
    background-size: cover;
    background-position: center;
}

@for $i from 0 through 30 {
  .orb-#{$i} {
    top: var(--orb-#{$i}-y);
    left: var(--orb-#{$i}-x);
  }
}

.top-lip-outer, .bottom-lip-outer {
    background-image: url('./images/pear.png');
}

.top-lip-inner, .bottom-lip-inner {
    background-image: url('./images/apple.png');
}

.connector {
    position: absolute;
    height: 2px;
    background: black;
    transform-origin: 0 0;
    z-index: -1;
    transition: top 0.3s ease, left 0.3s ease, width 0.3s ease, transform 0.3s ease;
}

@for $i from 0 through 30 {
    @for $j from 0 through 30 {
        .connector-#{$i}-#{$j} {
            top: calc(var(--orb-#{$i}-y) + 10px);
            left: calc(var(--orb-#{$i}-x) + 10px);
            width: var(--connector-#{$i}-#{$j}-length, 0px);
            transform: rotate(var(--connector-#{$i}-#{$j}-angle, 0deg));
        }
    }
}